*,:after,:before {
  margin:0;
  padding:0;
  position:relative;
  box-sizing:border-box
}
button,input,select,textarea {
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none
}
.alpha,h1 {
  margin-bottom:1.5rem;
  font-size:3rem;
  font-weight:100;
  line-height:1;
  letter-spacing:-.05em
}
.beta,h2 {
  margin-bottom:.75rem;
  font-weight:400;
  font-size:1.5rem;
  line-height:1
}
@media (min-width:650px) {
  .mega {
    font-size:6rem;
    line-height:1
  }
}
.meta,.subhead {
  color:#7b8993
}
.promo {
  text-align:center
}
.wrap {
  max-width:38rem;
  margin:0 auto
}
.island {
  padding:1.5rem
}
.isle {
  padding:.75rem
}
.spit {
  padding:.375rem
}
html {
  font:100%/1.5 Roboto,Verdana,sans-serif;
  color:red;
  background-color:#fff;
  -webkit-font-smoothing:antialiased;
  width:100%;
  overflow:hidden-x;
  text-align:center
}
@media (min-width:650px) {
  html {
    height:100%
  }
  html:before {
    content:'';
    display:inline-block;
    height:100%;
    vertical-align:middle;
    margin-right:-.25em
  }
  body {
    display:inline-block;
    vertical-align:middle;
    max-width:38rem
  }
}
::-moz-selection {
  color:#FFF;
  background:#FF0000;
}
::selection {
  color:#FFF;
  background:#FF0000;
}
@font-face {
  font-family:Roboto;
  font-style:normal;
  font-weight:100;
  src:local('Roboto Thin'),local('Roboto-Thin'),url(http://themes.googleusercontent.com/static/fonts/roboto/v11/vzIUHo9z-oJ4WgkpPOtg1_esZW2xOQ-xsNqO47m55DA.woff) format('woff')
}
@font-face {
  font-family:Roboto;
  font-style:normal;
  font-weight:400;
  src:local('Roboto Regular'),local('Roboto-Regular'),url(http://themes.googleusercontent.com/static/fonts/roboto/v11/2UX7WLTfW3W8TclTUvlFyQ.woff) format('woff')
}
@font-face {
  font-family:Roboto;
  font-style:normal;
  font-weight:700;
  src:local('Roboto Bold'),local('Roboto-Bold'),url(http://themes.googleusercontent.com/static/fonts/roboto/v11/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff')
}
@font-face {
  font-family:Roboto;
  font-style:italic;
  font-weight:400;
  src:local('Roboto Italic'),local('Roboto-Italic'),url(http://themes.googleusercontent.com/static/fonts/roboto/v11/1pO9eUAp8pSF8VnRTP3xnvesZW2xOQ-xsNqO47m55DA.woff) format('woff')
}
@font-face {
  font-family:Roboto;
  font-style:italic;
  font-weight:700;
  src:local('Roboto Bold Italic'),local('Roboto-BoldItalic'),url(http://themes.googleusercontent.com/static/fonts/roboto/v11/t6Nd4cfPRhZP44Q5QAjcC4bN6UDyHWBl620a-IRfuBk.woff) format('woff')
}
@charset "UTF-8";

@-webkit-keyframes fadeInUp {
    from {
        zoom:1;
        filter:alpha(opacity=0);
        opacity:0;
        -webkit-transform:translateY(20px)
    }
    to {
        zoom:1;
        filter:alpha(opacity=100);
        opacity:1;
        -webkit-transform:translateY(0)
    }
}
@-ms-keyframes fadeInUp {
    from {
        zoom:1;
        filter:alpha(opacity=0);
        opacity:0;
        -ms-transform:translateY(20px)
    }
    to {
        zoom:1;
        filter:alpha(opacity=100);
        opacity:1;
        -ms-transform:translateY(0)
    }
}
@keyframes fadeInUp {
    from {
        zoom:1;
        filter:alpha(opacity=0);
        opacity:0;
        -webkit-transform:translateY(20px);
                transform:translateY(20px)
    }
    to {
        zoom:1;
        filter:alpha(opacity=100);
        opacity:1;
        -webkit-transform:translateY(0);
                transform:translateY(0)
    }
}
@-webkit-keyframes dubz {
    from {
        -webkit-transform:rotate(-270deg)
    }
    to {
        -webkit-transform:rotate(0)
    }
}
@-ms-keyframes dubz {
    from {
        -ms-transform:rotate(-270deg)
    }
    to {
        -ms-transform:rotate(0)
    }
}
@keyframes dubz {
    from {
        -webkit-transform:rotate(-270deg);
                transform:rotate(-270deg)
    }
    to {
        -webkit-transform:rotate(0);
                transform:rotate(0)
    }
}
@-webkit-keyframes fadeInDown {
    from {
        zoom:1;
        filter:alpha(opacity=0);
        opacity:0;
        -webkit-transform:translateY(-20px)
    }
    to {
        zoom:1;
        filter:alpha(opacity=100);
        opacity:1;
        -webkit-transform:translateY(0)
    }
}
@-ms-keyframes fadeInDown {
    from {
        zoom:1;
        filter:alpha(opacity=0);
        opacity:0;
        -ms-transform:translateY(-20px)
    }
    to {
        zoom:1;
        filter:alpha(opacity=100);
        opacity:1;
        -ms-transform:translateY(0)
    }
}
@keyframes fadeInDown {
    from {
        zoom:1;
        filter:alpha(opacity=0);
        opacity:0;
        -webkit-transform:translateY(-20px);
                transform:translateY(-20px)
    }
    to {
        zoom:1;
        filter:alpha(opacity=100);
        opacity:1;
        -webkit-transform:translateY(0);
                transform:translateY(0)
    }
}

.animate {
    -webkit-animation-name:fadeInDown;
    -ms-animation-name:fadeInDown;
    animation-name:fadeInDown;
    -webkit-animation-duration:600ms;
    -ms-animation-duration:600ms;
    animation-duration:600ms;
    -webkit-animation-delay:500ms;
    -ms-animation-delay:500ms;
    animation-delay:500ms;
    -webkit-animation-iteration-count:ease;
    -ms-animation-iteration-count:ease;
    animation-iteration-count:ease;
    -webkit-animation-fill-mode:backwards;
    -ms-animation-fill-mode:backwards;
    animation-fill-mode:backwards;
}